@import './variables.scss';

html {
    font-size: 16px;
}

body {
    font-family: 'Georama', sans-serif;
    margin: 1.5rem;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1 {
    color: $primary;
    font-size: 4rem;
    text-align: center;
    margin-top: 2rem;
}

h2 {
    color: $primary;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 600;
    margin: 2rem auto;
}

.highlight {
    color: $secondary;
}

.button {
    height: 2.5rem;
    border-radius: 1.25rem;
    background-color: $primary;
    color: white;
    width: 100%;
    font-size: 1rem;
    border: none;

    &:hover {
        background-color: $secondary;
        cursor: pointer;
    }
}

.submitMessage {
    position: fixed;
    width: 90vw;
    left: 5vw;
    bottom: 2vw;
    margin-top: auto;
    color: white;
    text-align: center;
    padding: .5rem;
    font-size: 1.4rem;
    border-radius: .3rem;
    border: solid 3px var(--primary-alt);
    animation: fading-out .8s 8s;
}

.validated {
    background-color: hsl(98, 52%, 46%);
}

.error {
    background-color: hsl(7, 74%, 56%);
}

.column {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: $mobile) {
    html {
        font-size: 14px;
    }
}