@import url('https://fonts.googleapis.com/css2?family=Georama:wght@200;400;600;800&display=swap');

$primary : rgb(0, 63, 99);
$secondary : rgb(242, 177, 56);
$grey : rgb(228, 228, 228);
$hover : rgb(235, 235, 235);
$error : rgb(248, 114, 114);

$mobile : 959px;