@import '../variables.scss';

.container {
    height: 2.4rem;
    border-radius: 1.2rem;
    background-color: $secondary;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;

    &:hover {
        cursor: pointer;
        filter: opacity(.9);
    }
}