@import '../variables.scss';

.container {
    margin: auto;
    width: 900px;
    margin-bottom: 5rem;

    .title {
        width: 100%;
        height: 4rem;
        border-radius: 2rem;
        font-size: 1.8rem;
        font-weight: 800;
        text-align: center;
        border: solid 1px $primary;
        box-sizing: border-box;
        color: $primary;

        &::placeholder {
            color: $grey;
        }

        &:hover {
            border-color: $secondary;
        }

        &:focus {
            outline: none;
            border-color: $secondary;
            color: $secondary;
        }
    }
}

@media screen and (max-width: $mobile) {
    .container {
        width: 100%;
    }
}