@import '../variables.scss';

.contact {
    display: flex;
    align-items: center;
    padding: 0 2rem;
    width: fit-content;

    &:hover {
        cursor: pointer;
        background-color: $hover;
    }

    .checkBox {
        position: relative;
        height: 22px;
        width: 22px;
        border-radius: 11px;
        border: solid 2px $secondary;
        background-color: white;
        box-sizing: border-box;
        padding: 3px;
    }
    
    .checked {
        border-color: $primary;
        background-color: $primary;
    }

    p {
        font-size: 1.2rem;
        margin-left: 1rem;
    }
}