@import '../variables.scss';

.title {
    font-weight: 400;
    font-size: 1.1rem;
    margin-left: 1.1rem;
}

.container {
    height: 2.4rem;
    border-radius: 1.2rem;
    border: solid 2px $secondary;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .5rem 0 3rem;

    input {
        width: 90%;
        height: 90%;
        border: none;
        font-size: 1.1rem;

        &:focus {
            outline: none;
        }

        &:-webkit-autofill,
        &:-webkit-autofill:hover, 
        &:-webkit-autofill:focus, 
        &:-webkit-autofill:active {
            box-shadow: 0 0 0 30px white inset;
        }
    }

    &:focus-within {
        border: solid 2px $primary;
    }
}