@import '../variables.scss';

.container {
    margin: auto;
    width: 400px;
    margin-bottom: 5rem;

    .input {
        display: flex;
        align-items: center;
        height: 2.5rem;
        border-radius: 1.25rem;
        border: solid 1px $primary;
        box-sizing: border-box;
        margin-bottom: 2rem;
        transition: all .3s;

        .icon {
            height: 2.5rem;
            width: 2.5rem;
            border-radius: 1.25rem;
            background-color: $primary;
            display: flex;
            justify-content: center;
            align-items: center;
            transform: translateX(-1px);
            transition: all .3s;

            &:hover {
                cursor: pointer;
            }
        }

        input {
            flex-grow: 1;
            padding-left: .8rem;
            margin-right: .8rem;
            height: 2rem;
            border: none;
            font-size: 1rem;

            &:focus {
                outline: none;
            }

            &::placeholder {
                color: $grey;
            }
        }

        &:hover, &:focus-within {
            border-color: $secondary;

            .icon {
                background-color: $secondary;
            }
        }
    }

    .empty, .empty:hover {
        border-color: $error;
        position: relative;

        .icon {
            background-color: $error;
        }

        &::after {
            content: "Veuillez remplir ce champ";
            position: absolute;
            width: 100%;
            text-align: center;
            color: $error;
            font-size: .8rem;
            transform: translateY(1.8rem);
        }
    }

    .error {
        position: relative;

        &::after {
            content: "Nom d'utilisateur et/ou mot de passe incorrect";
            position: absolute;
            color: $error;
            font-size: .8rem;
            width: 100%;
            text-align: center;
            transform: translate(-100%, 2.8rem);
        }
    }
}

@media screen and (max-width: $mobile) {
    .container {
        width: 100%;
    }
}