@import '../variables.scss';

.container {
    height: 2.4rem;
    border-radius: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    border: solid 2px $grey;
    box-sizing: border-box;

    input {
        border: none;
        height: 90%;
        width: calc(100% - 2.4rem);
        font-size: 1rem;

        &:focus {
            outline: none;
        }
    }

    .closeButton {
        display: none;
    }

    &:hover {
        border-color: $primary;
    }

    &:focus-within {
        border-color: $secondary;
    }

    &:hover, &:focus-within {

        input {
            width: calc(100% - 2.4rem - 20px);
        }

        .closeButton {
            filter: invert(.3);
            transform: rotate(45deg);
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                filter: invert(.6);
                cursor: pointer;
            }
        }
    }
}